<div class="flex flex-row justify-between ">
    <div class="pl-[96px]">
        <div class="font-Sen text-4xl font-semibold leading-loose tracking-tightest text-[#232536]">Our Branches</div>
        <div class="flex flex-row gap-2 ">
            <div
                class="text-xs bg-[#dcdac9] hover:bg-[#232536] hover:text-[#dcdac9] rounded-md text-[#232536] font-Inter w-[106px] h-[45px] flex justify-center items-center">
                EGYPT</div>
            <div
                class="text-xs bg-[#dcdac9] hover:bg-[#232536] hover:text-[#dcdac9] rounded-md text-[#232536] font-Inter w-[106px] h-[45px] flex justify-center items-center">
                ABU DHABI</div>
            <div
                class="text-xs bg-[#dcdac9] hover:bg-[#232536] hover:text-[#dcdac9] rounded-md text-[#232536] font-Inter w-[106px] h-[45px] flex justify-center items-center">
                KUWAIT</div>
            <div
                class="text-xs bg-[#dcdac9] hover:bg-[#232536] hover:text-[#dcdac9] rounded-md text-[#232536] font-Inter w-[106px] h-[45px] flex justify-center items-center">
                KSA</div>
            <div
                class="text-xs bg-[#dcdac9] hover:bg-[#232536] hover:text-[#dcdac9] rounded-md text-[#232536] font-Inter w-[106px] h-[45px] flex justify-center items-center">
                OMAN</div>
        </div>
        <div class="flex flex-row">
            <div class=" flex flex-col justify-evenly  border-[1px] rounded-2xl border-[#E2E1EF] m-16">
                <div class="flex justify-between flex-row border-b px-9 py-3 border-[#E2E1EF] whitespace-nowrap text-base font-bold leading-8 font-Sen text-[#232536]  tracking-[-1px]">EFG
                    Hermes - Head Office <img src="/assets/ant-design_arrow-right-outlined.svg" alt=""></div>
                <div class="flex justify-between flex-row border-b px-9 py-3 border-[#E2E1EF] text-base font-medium leading-8 font-Sen">Maadi Branch <img
                        src="/assets/ant-design_arrow-right-outlined.svg" alt="">
                </div>
                <div class="flex justify-between flex-row border-b px-9 py-3 border-[#E2E1EF] text-base font-medium leading-8 font-Sen">Naser CIty Branch <img
                        src="/assets/ant-design_arrow-right-outlined.svg" alt=""></div>
                <div class="flex justify-between flex-row border-b px-9 py-3 border-[#E2E1EF] text-base font-medium leading-8 font-Sen">Mansoura Branch <img
                        src="/assets/ant-design_arrow-right-outlined.svg" alt=""></div>
                <div class="flex justify-between flex-row border-b px-9 py-3 border-[#E2E1EF] text-base font-medium leading-8 font-Sen">Tanta Branch <img
                        src="/assets/ant-design_arrow-right-outlined.svg" alt="">
                </div>
                <div class="flex justify-between flex-row px-9 py-3 border-[#E2E1EF] text-base font-medium leading-8 font-Sen">Sohag Branch <img
                        src="/assets/ant-design_arrow-right-outlined.svg" alt="">
                </div>
            </div>
            <div class="pt-24 flex flex-col gap-8 ">
                <div class="flex flex-row  gap-[2px]">
                    <div><img src="/assets/location.svg" alt=""></div>
                    <div>
                        <div class="text-base font-medium leading-8 font-Sen text-[#232536]">
                            Visit us
                        </div>
                        <div class="whitespace-nowrap text-base font-medium leading-8 font-Sen text-[#4A5162]">
                            34 Madison Street,NY, USA 10005
                        </div>
                    </div>
                </div>

                <div class=" flex flex-row gap-[2px]">
                    <div><img src="/assets/Mail.svg" alt=""></div>
                    <div>
                        <div class="text-base font-medium leading-8 font-Sen text-[#232536]">
                            Email us
                        </div>
                        <div class="whitespace-nowrap text-base font-medium leading-8 font-Sen text-[#4A5162]">
                            Info&#64;efg-hermes.com - sales&#64;efg-hermes.com
                        </div>
                    </div>
                </div>

                <div class=" flex flex-row gap-[2px]">
                    <div><img src="/assets/Phone.svg" alt=""></div>
                    <div>
                        <div class="text-base font-medium leading-8 font-Sen text-[#232536]">
                            Call us
                        </div>
                        <div class="text-base font-medium leading-8 font-Sen text-[#4A5162]">
                            +1-492-4918-395 - +1-492-4918-395
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="pt-[40px] pr-[95px]">
        <img src="/assets/photo-of-people-doing-handshakes-3183197.svg" alt="">
    </div> -->
</div>