<!-- <div class="header-container">
  <img src="Logo.svg" alt="logo" class="name">
  <div class="navtext">
    <button style="color: white;"  routerLink="/">Home</button>
    <button style="color: white;"  routerLink="/blog">Blog</button>
    <button style="color: white;"  routerLink="/aboutus">About Us</button>
    <button style="color: white;"  routerLink="/contactus">Contact Us</button>
    </div>
    <button class="subscribe" style="background-color: white;"  routerLink="/subscribe">Subscribe</button>
</div> -->


<div class=" flex items-center justify-between bg-[#232537] py-3 px-12">
  <img src="Logo.svg" alt="logo" class="w-24 h-auto ml-12">
  
  <div class="flex flex-1  justify-end  gap-4 text-white text-lg">
    <button class=" py-2 px-4 font-sans" routerLink="/">Home</button>
    <button class=" py-2 px-4 font-sans" routerLink="/blog">Blog</button>
    <button class=" py-2 px-4 font-sans" routerLink="/aboutus">About Us</button>
    <button class=" py-2 px-4 font-sans" routerLink="/contactus">Contact Us</button>
  </div>
  
  <button class="subscribe bg-white text-[#232536] font-bold text-lg w-[179px] h-[56px] border-none rounded-none transition hover:bg-gray-700 hover:text-white ml-auto mr-12" routerLink="/subscribe">
    Subscribe
  </button>
</div>
