<div class="footer-container">
  <div class="firstline">
    <img src="/Logo.svg" alt="logo" class="name">
    <div class="footer-titles">
      <a routerLink="/">Home</a>
      <a routerLink="/blog">Blog</a>
      <a>About Us</a>
      <a routerLink="/contactus">Contact Us</a>
      <a>Privacy Policy</a>
    </div>
  </div>

  <div class="subscribe">
    <div class="newstext">

      Subscribe to our news letter to get latest updates and news.

    </div>
    <div class="email-input">

      <input type="text" placeholder="Enter Your Email" required>
      <button type="submit">SUBSCRIBE</button>

    </div>
  </div>

  <div class="icons">
    <img src="/assets/FBNegative.svg" alt="facebook" class="name">
    <img src="/assets/TWNegative.svg" alt="twitter" class="name">
    <img src="/assets/IGNegative.svg" alt="instagram" class="name">
    <img src="/assets/LINegative.svg" alt="logo" class="name">
  </div>

  <div class="contactinfo">
    Finstreet 118 2561 Fintown<br>
    Hello&#64;finsweet.com 020 7993 2905
  </div>

</div>